.spent-this-month {
    padding: 20px;
}

.total {
    color: var(--accent);
}

@media (max-width: 600px) {
    .spent-this-month {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}