.add-transaction-page {
    display: grid;
    margin: 20px;
    padding: 0 80px 80px;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.page-title {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
}

.form {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
}

.form-error {
    font-size: 14px;
    margin-top: 5px;
    color: rgb(255, 55, 55);
}

.form-input {
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f0ff;
}

.form-input-error {
    border-width: 2px;
    border-color: rgb(255, 55, 55);
}

.form-button {
    display: flex;
    justify-content: center;
    grid-column: span 2 / span 2;
}

@media (max-width: 600px) {
  .add-transaction-page {
    padding: 0 20px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .page-title {
    grid-column: 1 / -1;
    text-align: center;
  }

  .form {
    grid-column: 1 / -1;
    grid-row: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .form-button {
    grid-column: 1 / -1;
  }
}

/* New Version */

.page {
  padding: 16px;
}