.pages_section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.change-date-arrows:hover {
    cursor: pointer;
}

.change-date-arrows.disabled {
    visibility: hidden;
}

.change-date-arrows.disabled:hover {
    cursor: default;
}

.delete_transaction:hover {
    cursor: pointer;
}

.left-arrow {
    display: flex;
    align-items: center;
    color: var(--accent)
}

.right-arrow {
    display: flex;
    align-items: center;
    color: var(--accent)
}