:root {
  --background: #FFFFFF;
  --text: #030a05;
  --gray-text: #6b726c;
  --primary: #5D24E1;
  --secondary: #A881F2;

  --accent-light: #9156fe;
  --accent: #7429FF;
  --accent-dark: #4e13bb;

  --desktop-title-text: 64px;
  --desktop-sub-title-text: 40px;
  --desktop-lead-text: 18px;
  --desktop-section-title: 20px;
  --desktop-paragraph-text: 16px;

  --mobile-30: 30px;
  --mobile-24: 24px;
  --mobile-16: 16px;
  --mobile-14: 14px;
  --mobile-12: 12px;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', monospace;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 60px;
}

input {
  font-family: 'Nunito', monospace;
}

h1 {
  font-weight: 700;
  color: var(--text);
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--gray-text);
}

body {
  color: var(--text);
  background: var(--background);
  font-size: var(--desktop-paragraph-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
