.signup-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  padding: 1rem;
  font-family: var(--font-geist-sans);
}

.signup-card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
}

.signup-title {
 color: var(--text);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.signup-description {
  font-size: var(--desktop-paragraph-text);
  color: var(--gray-text);
  margin-bottom: 1.5rem;
}

.signup-label {
  font-size: var(--desktop-paragraph-text);
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.signup-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: var(--desktop-paragraph-text);
  border: 1px solid #cdd7ce;
  border-radius: 6px;
  margin-bottom: 1rem;
  outline-color: var(--primary);
}

.signup-link {
  font-size: 14px;
  color: var(--accent-dark);
  text-decoration: none;
  float: right;
  margin-bottom: 1rem;
}

.signup-link:hover {
  text-decoration: underline;
}

.signup-button {
  background-color: var(--primary);
  color: white;
  font-size: var(--desktop-paragraph-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: var(--secondary);
}

.signup-footer {
  margin-top: 1.5rem;
  font-size: var(--desktop-paragraph-text);
  text-align: center;
  color: var(--gray-text);
}

.signup-footer a {
  color: var(--accent);
  text-decoration: none;
}

.signup-footer a:hover {
  text-decoration: underline;
}

.signup-error {
  color: crimson;
  font-size: 14px;
  margin-bottom: 1rem;
}
